<% if @items.count > 0 %>
  <%= button_to "Add Item", new_item_path, class: 'btn btn-link pull-right' %>

  <table class="table table-striped">
    <tr>
      <th>Number</th>
      <th width="15%">Vendor</th>
      <th width="40%">Description</th>
      <th>per unit</th>
      <th>unit of measure</th>
      <th width="100px"></th>
    </tr>

    <% @items.each do |i| %>
      <tr>
        <td><%= i.number %></td>
        <td><%= i.vendor %></td>
        <td><%= i.description %></td>
        <td><%= i.per_unit %></td>
        <td><%= i.unit_of_measure %></td>
        <td>
          <div class="btn-group">
            <%= link_to edit_item_path(i), class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to item_path(i), method: :destroy, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="no-records">You currently have no Items. Please <%= link_to 'add some', new_item_path %>.</p>
<% end %>
